<div class="background" fxFlex fxLayout="column">
    <div fxLayout="row wrap">
        <div fxFlex="20" fxFlex.md="33" fxFle.sm="50" fxFlex.xs="100" fxLayout="column"
            *ngFor="let i of ListCharacters | async" style="padding: 20px">

            <mat-card>
                <!-- Imagem de cada personagem -->
                <img mat-card-image src={{i.thumbnail.path}}.{{i.thumbnail.extension}} alt="{{i.name}}">
                <!-- Nome dos os personagens -->
                <mat-card-title>
                    {{i.name}}
                </mat-card-title>
                <!-- Exibindo os detalhes dos personagens, direcionado pelo botão que leva a página. -->
                <mat-car-footer>
                    <a href="{{i.urls[0].url}}" target="_blank" fxFlex mat-flat-button color="primary">Detalhes</a>
                </mat-car-footer>
            </mat-card>

        </div>

    </div>
</div>